# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = ecommerce.settings

[scrapyd]
application = herokuify-scrapyd.app.application
[deploy]
url = https://fast-dusk-30752.herokuapp.com/
project = ecommerce
